@use 'sass:color';
@import '../../common.scss';

.btn {
  padding: 10px;
  background-color: darken($tertiary, +10%);
  color: white;
  border-radius: $button-border-radius;
  transition: all 50ms linear;

  &:hover {
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }
}
